footer {
    border-top: solid 0.5px #ffffff79;
}

body {
    &:not(.home) {
        p[style*="color:#fecaca"] {
            color: #e3cafe !important;
        }
    }
}

@media (max-width: 1260px) {
    footer {
        >.block-section {
            padding-inline: 5rem !important;
        }
    }
}

@media (max-width: 1024px) {
    footer {
        >.block-section {
            padding-inline: 2rem !important;
        }
    }
}

@media (max-width: 768px) {
    footer {
        >.block-section {
            padding-inline: 1rem !important;

            p {
                text-align: center !important;
            }
        }
    }
}